.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  
  .skyblue {
    background: deepskyblue;
    width: auto;
    height: auto;
  }
  
  .purple {
    background: rebeccapurple;
    width: auto;
    height: auto;
  }
  
  .red {
    background: indianred;
    width: auto;
    height: auto;
  }

  .grey {
    background: grey;
  }

  .light-grey {
    background: rgb(202, 202, 202);
    width: auto;
    height: auto;
  }

  .body-background
  {
    width: fit-content;

  }
  /* Giving our navbar some padding and a background color */
.navbar {
    padding: 10px;
    background: #5191fd;
  }
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  .navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
  }
  
  /* Getting rid of the default link styles here */
  .navbar li a {
    color: #000;
    text-decoration: none;
  }

  @media (max-width:600px) {

    .navbar li {
      display: inline-block;
      padding: 10px;
      margin-right: 10px;
      margin-left: 10px;
      cursor: pointer;
      background: #fff;
      border-radius: 3px;
    }
  }